<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-dark bg-warning mt-3 mb-4 justify-content-start">
  <span class="mx-3"><%= link_to "All restaurants", restaurants_path, class:"text-decoration-none text-dark"%>
  </span>
  <span class="mx-3">
  <%= link_to "New restaurant", new_restaurant_path, class:"text-decoration-none text-dark" %>
  </span>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
